@import "../../../styles/styles.css";

.subscription_email_btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.subscription_email_btn .ui.button {
    background: rgba(239, 237, 237, 0.7);
}

.articles_subscription {
    font-family: 'Roboto-Regular';
}

.block_subscription {
    padding: 0px 15px 20px 15px;
    background: rgba(196, 196, 196, 0.2);
    margin: 0px 20px;
    border-radius: 5px;
    display: none;
}

.subscription_title {
    font-size: 12px;
    padding: 10px 0px;
    font-family: 'Roboto-Bold';
}

.subscription_email .ui.input>input {
    width: 140px;
    border-radius: 20px;
    border: none;
    height: 28px;
}

.subscription_framed span {
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
    margin-left: 5px;
}

.subscription_framed i.icon {
    color: #1AA853;
}
