.user_info_card {
    width: 400px;
    z-index: 1;
    border-radius: 4px;
    padding: 17px 13px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.25) 0px 1px 4px;
}

.user_info_card_container {
    z-index: 1;
    background: #fff;
    position: absolute;
    left: -1px;
}

.user_info_card .articlesUserCount {
    display: flex;
    align-items: center;
    margin: 10px 0px;
    white-space: pre;
}

.user_info_card .articlesUserCount .link {
    border: none;
}

.user_info_card .descriptionUser{
    overflow-y: auto;
    max-height: 210px;
}

.user_info_card .close {
    cursor: pointer;
    top: 0px;
    right: 0px;
    position: absolute;
    color: rgba(0, 0, 0, 0.6);
}

.user_info_card .close:hover {
    opacity: 1;
}

.ui.input.container.container_scientificAchievements span {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 5px;
    font-family: 'Roboto-Bold';
}