.block_title_text .text_block {
    padding: 10px 20px 10px 0;
    font-family: 'Roboto-Regular';
    margin-bottom: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.text_item_list {
    margin-bottom: 10px;
}